@keyframes slideshow {
  0% {
    left: 0%;
  }

  20% {
    left: 0%;
  }

  40% {
    left: -100%;
  }

  55% {
    left: -100%;
  }

  70% {
    left: -200%;
  }

  85% {
    left: -200%;
  }

  100% {
    left: -300%;
  }
}

body {
  margin: 0;
  background: linear-gradient(to right, #f0f0f0, #9c9cc9,#7b99ab);
  color: #000000;
}

div#slider {
  overflow: hidden;
}

div#slider figure img {
  width: 80%;
  float: left;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slideshow infinite;
}

img {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.subrayado {
  text-decoration: underline;
  color: #7d0d0d;
}

.subrayado1 {
  text-decoration: underline;
  color: #0f95b0;
}

.subrayado2 {
  text-decoration: underline;
  color: #258966;
}

.subrayado3 {
  text-decoration: underline;
  color: #254889;
}

.subrayado4 {
  text-decoration: underline;
  color: #7d0d0d00;
}

.colorido {
  color: #021068;
}